p {
    color: blue;
    text-shadow: 1px 1px 5px;
    line-height: 20px;
    direction: ltr;
    text-align: center;
    text-decoration: underline red wavy 1px;
    text-transform: capitalize;
    letter-spacing: 5px;
    word-spacing: 10px;
    text-indent: 10px;
}