body{
    direction: ltr;
}
ul{
    list-style-type: square;
    /* list-style-image: url("../images/1.png"); */
}
ol{
    list-style-type: lower-greek;
    list-style-position: inside;
}

ol li{
    border: solid;
}